{% extends "network/layout.html" %}

{% block body %}
    
    {% if request.user.is_authenticated %}
        <div class="new-post-container m-4 p-4 border rounded">
            <form action="{% url 'create_post' %}" method="post">
                {% csrf_token %}
                <h3 class="mb-3">New post</h3>
                {{ new_post_form.post }}
                <input type="submit" value="Create post" class="btn btn-primary mt-3">
            </form>
        </div>
    {% endif %}

    <div class="all-posts-container m-4">
        <h1>All posts</h1>

        {% for post in posts %}
        	
            <div class="card m-3">
                <div class="card-header">
                    <a href="{% url 'profile' post.owner.username %}" class="font-weight-bold post-owner">{{ post.owner.username }}</a>
                </div>

                <div class="card-body my-auto">
                    <h6 class="card-title">{{ post.post }}</h6> 

                    <a href="#">Like</a> <span class="text-muted">~</span>
                    <p class="m-0 like-count text-muted">{{ post.likes.count }}</p>
                    
                    {% if post.owner == request.user %}
                        <span class="text-muted">&nbsp;</spa><button href="" class="text-muted btn btn-link edit_post" data-targetpost="{{ post.id }}">Edit post</button>
                    {% endif %}

                </div>
                <div class="card-footer text-muted">
                    {{ post.timestamp }}
                </div>
            </div>

        {% endfor %}

        {% if pages > 1 %}
            <nav aria-label="Posts navigation" class="m-3">
                <ul class="pagination">
                    {% if page == 1 %}
                        <li class="page-item disabled"><a class="page-link" href="?page={{ page }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page|add:'-1' }}">Previous</a></li>
                    {% endif %}
                    
                    {% for page_fl in page_count %}
                        {% if page_fl == page %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_fl }}">{{ page_fl }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_fl }}">{{ page_fl }}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if page == page_count|last %}
                        <li class="page-item disabled"><a class="page-link" href="?page={{ page }}" tabindex="-1" aria-disabled="true">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page|add:1 }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>



{% endblock %}